main{
    #resume{
        .summary-box{
            .dote{
                background-color: #18d26e;
                min-width: 3rem;
                min-height: 3rem;
            }
        }
    }
}